body{
    background: linear-gradient(90deg, rgba(0, 255, 89, 0.319), rgba(255, 247, 0, 0.621));
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#content{
    background: red;
    width: 400px;
    margin: auto;
    text-align: center;
    padding: 20px;
    border-radius: 5px;

}

#content #question {
    margin: 10px;

}
#eightball{
    width: 350px;
    height: 350px;
    background: black;
    color: white;
    margin: auto;
    margin-top: 10px;
    border-radius: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}
#answer{
    font-size: 25px;
}